sharepoint2blob/sharepoint2blobarm.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "SharePointUrl": {
            "defaultValue": "https://microsoft.sharepoint.com/teams/TestSharePointWednesday",
            "type": "String"
        },
        "connections_sharepointonline_name": {
            "defaultValue": "sharepointonline",
            "type": "String"
        },
        "storageAccounts_armblobqueue_name": {
            "defaultValue": "armqueue2",
            "type": "String"
        },
        "userAssignedIdentities_sharepoint2blob_mi_name": {
            "defaultValue": "sharepoint2blob-mi",
            "type": "String"
        },
        "connections_azurequeues_name": {
            "defaultValue": "azurequeues",
            "type": "String"
        },
        "workflows_logicapptest720_name": {
            "defaultValue": "logicapptest720",
            "type": "String"
        },
        "workflows_folder_expansion_logic_app_name": {
            "defaultValue": "folder-expansion-logic-app",
            "type": "String"
        }
    },
    "variables": {
        "queueContributorRoleId": "[concat(subscription().Id, '/providers/Microsoft.Authorization/roleDefinitions/974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
        "storageBlobContributorRoleId": "[concat(subscription().Id, '/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
        "location": "[resourceGroup().location]",
        "queueRoleGuidId": "[guid(uniqueString('queue'))]",
        "blobRoleGuidId": "[guid(uniqueString('blob'))]"
    },
    "resources": [
        {
            "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
            "apiVersion": "2023-07-31-preview",
            "name": "[parameters('userAssignedIdentities_sharepoint2blob_mi_name')]",
            "location": "[variables('location')]"
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2023-01-01",
            "name": "[parameters('storageAccounts_armblobqueue_name')]",
            "location": "[variables('location')]",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "dnsEndpointType": "Standard",
                "defaultToOAuthAuthentication": false,
                "publicNetworkAccess": "Enabled",
                "allowCrossTenantReplication": false,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": false,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "requireInfrastructureEncryption": false,
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "allowPermanentDelete": false,
                    "enabled": true,
                    "days": 7
                },
                "containerDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "protocolSettings": {
                    "smb": {}
                },
                "cors": {
                    "corsRules": []
                },
                "shareDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default/pending-files')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/queueServices', parameters('storageAccounts_armblobqueue_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "properties": {
                "metadata": {}
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
            "apiVersion": "2023-01-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default/pending-folders')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/queueServices', parameters('storageAccounts_armblobqueue_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ],
            "properties": {
                "metadata": {}
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/default/sharepoint')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
            "apiVersion": "2018-09-01-preview",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/Microsoft.Authorization/', variables('queueRoleGuidId'))]",
            "properties": {
                "_comment1": "Role definition IDs from: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage",
                "roleDefinitionId": "[variables('queueContributorRoleId')]",
                "_comment2": "Something like: /subscriptions/my-subscription/resourceGroups/my-other-resource-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myManagedIdentity",
                "principalId": "[reference(parameters('userAssignedIdentities_sharepoint2blob_mi_name'), '2018-11-30').principalId]",
                "principalType": "ServicePrincipal"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
            "apiVersion": "2018-09-01-preview",
            "name": "[concat(parameters('storageAccounts_armblobqueue_name'), '/Microsoft.Authorization/', variables('blobRoleGuidId'))]",
            "properties": {
                "_comment1": "Role definition IDs from: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage",
                "roleDefinitionId": "[variables('storageBlobContributorRoleId')]",
                "_comment2": "Something like: /subscriptions/my-subscription/resourceGroups/my-other-resource-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myManagedIdentity",
                "principalId": "[reference(parameters('userAssignedIdentities_sharepoint2blob_mi_name'), '2018-11-30').principalId]",
                "principalType": "ServicePrincipal"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_armblobqueue_name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azurequeues_name')]",
            "location": "[variables('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "MyAzureQueueConnection",
                "customParameterValues": {},
                "authenticatedUser": {},
                "connectionState": "Enabled",
                "parameterValueSet": {
                    "name": "managedIdentityAuth",
                    "values": {}
                },
                "api": {
                    "name": "[parameters('connections_azurequeues_name')]",
                    "displayName": "Azure Queues",
                    "description": "Azure Queue storage provides cloud messaging between application components. Queue storage also supports managing asynchronous tasks and building process work flows.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1680/1.0.1680.3652/', parameters('connections_azurequeues_name'), '/icon.png')]",
                    "brandColor": "#0072C6",
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/', parameters('connections_azurequeues_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/', parameters('connections_azurequeues_name'), '/extensions/proxy/testConnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            },
             "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/queueServices/queues', parameters('storageAccounts_armblobqueue_name'), 'default','pending-folders')]",
                "[resourceId('Microsoft.Storage/storageAccounts/providers/roleAssignments', parameters('storageAccounts_armblobqueue_name'), 'Microsoft.Authorization', variables('queueRoleGuidId'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sharepointonline_name')]",
            "location": "[variables('location')]",
            "kind": "V1",
            "properties": {
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "api": {
                    "name": "[parameters('connections_sharepointonline_name')]",
                    "displayName": "SharePoint",
                    "description": "SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2013 or 2016 farm using the On-Premises Data Gateway to manage documents and list items.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1676/1.0.1676.3617/', parameters('connections_sharepointonline_name'), '/icon.png')]",
                    "brandColor": "#036C70",
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/', parameters('connections_sharepointonline_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_folder_expansion_logic_app_name')]",
            "location": "[variables('location')]",
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.ManagedIdentity/userAssignedIdentities/',parameters('userAssignedIdentities_sharepoint2blob_mi_name'))]": {}
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azurequeues_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_sharepointonline_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SharePointUrl": {
                            "defaultValue": "[parameters('SharePointUrl')]",
                            "type": "String"
                        },
                        "storageAccountName": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_there_are_messages_in_a_queue_(V2)": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Second",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('storageAccountName')))}/queues/@{encodeURIComponent('pending-folders')}/message_trigger"
                            }
                        }
                    },
                    "actions": {
                        "Delete_message_(V2)": {
                            "runAfter": {
                                "For_each_Item_in_the_list": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('storageAccountName')))}/queues/@{encodeURIComponent('pending-folders')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                                "queries": {
                                    "popreceipt": "@triggerBody()?['PopReceipt']"
                                }
                            }
                        },
                        "For_Each_Group_Find_Users": {
                            "foreach": "@body('SharepointGroups')",
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('GroupUsers')",
                                    "actions": {
                                        "Append_to_array_variable_2": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "UsersArray",
                                                "value": "@items('For_each')"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "GroupUsers": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "GroupUsers": {
                                    "runAfter": {
                                        "GroupUsers_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Select",
                                    "inputs": {
                                        "from": "@body('GroupUsers_JSON')?['d']?['results']",
                                        "select": {
                                            "GroupId": "@items('For_Each_Group_Find_Users')?['ID']",
                                            "Id": "@item()?['Id']",
                                            "LoginName": "@item()?['LoginName']",
                                            "PrincipleType": "@item()?['PrincipalType']",
                                            "Title": "@item()?['Title']",
                                            "UPN": "@item()?['UserPrincipalName']"
                                        }
                                    }
                                },
                                "GroupUsers_JSON": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Send_an_HTTP_request_to_SharePoint_4')",
                                        "schema": {
                                            "properties": {
                                                "d": {
                                                    "properties": {
                                                        "results": {
                                                            "items": {
                                                                "properties": {
                                                                    "Id": {
                                                                        "type": "integer"
                                                                    },
                                                                    "LoginName": {
                                                                        "type": "string"
                                                                    },
                                                                    "PrincipalType": {
                                                                        "type": "integer"
                                                                    },
                                                                    "Title": {
                                                                        "type": "string"
                                                                    },
                                                                    "UserPrincipalName": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_4": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "method": "GET",
                                            "uri": "_api/Web/SiteGroups/GetById(@{items('For_Each_Group_Find_Users')?['ID']})/Users"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointUrl')))}/httprequest"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_UsersArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_Item_in_the_list": {
                            "foreach": "@body('Parse_JSON')?['ListData']?['Row']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Insert_folder_into_pending-folders_queue": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@{substring(items('For_each_Item_in_the_list')?['FileRef'],indexOf(items('For_each_Item_in_the_list')?['FileRef'], '/Shared documents'))}",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('storageAccountName')))}/queues/@{encodeURIComponent('pending-folders')}/messages"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Insert_file_into_pending-files_queue": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "{\n\"Id\": \"@{items('For_each_Item_in_the_list')?['ID']}\",\n\"fileRef\": \"@{items('For_each_Item_in_the_list')?['FileRef']}\",\n\"fileRelativePath\": \"@{split(slice(items('For_each_Item_in_the_list')?['FileRef'],0,lastIndexOf(items('For_each_Item_in_the_list')?['FileRef'],items('For_each_Item_in_the_list')?['FileLeafRef'])),'/Shared Documents')[1]}\",\n\"fileName\": \"@{items('For_each_Item_in_the_list')?['FileLeafRef']}\",\n\"fileExtension\": \"@{items('For_each_Item_in_the_list')?['FileLeafRef.Suffix']}\",\n\"listName\":\"@{body('Parse_JSON')?['listName']}\",\n\"users\": @{variables('UsersArray')}\n}",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('storageAccountName')))}/queues/@{encodeURIComponent('pending-files')}/messages"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_Item_in_the_list')?['FSObjType']",
                                                    "1"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Set_Current_ListName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Groups_JSON": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Send_an_HTTP_request_to_SharePoint_2')",
                                "schema": {
                                    "properties": {
                                        "d": {
                                            "properties": {
                                                "results": {
                                                    "items": {
                                                        "properties": {
                                                            "Id": {
                                                                "type": "integer"
                                                            },
                                                            "LoginName": {
                                                                "type": "string"
                                                            },
                                                            "PrincipalType": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Id",
                                                            "LoginName",
                                                            "PrincipalType"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Initialize_UsersArray": {
                            "runAfter": {
                                "SharepointGroups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UsersArray",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "For_Each_Group_Find_Users": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SharePointEntryPoint",
                                        "type": "string",
                                        "value": "@{split(parameters('SharePointUrl'),'.com')[1]}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Send_an_HTTP_request_to_SharePoint')",
                                "schema": {
                                    "properties": {
                                        "ListData": {
                                            "properties": {
                                                "Row": {
                                                    "items": {
                                                        "properties": {
                                                            "FSObjType": {
                                                                "type": "string"
                                                            },
                                                            "FileLeafRef": {
                                                                "type": "string"
                                                            },
                                                            "FileLeafRef.Suffix": {
                                                                "type": "string"
                                                            },
                                                            "FileRef": {
                                                                "type": "string"
                                                            },
                                                            "ID": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "listName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Send_an_HTTP_request_to_SharePoint": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "{\n\"parameters\":{\n\"RenderOptions\":1480455,\"AllowMultipleValueFilterForTaxonomyFields\":true,\"AddRequiredFields\":true,\"RequireFolderColoringFields\":true}}",
                                    "method": "POST",
                                    "uri": "@{concat('_api/web/GetListUsingPath(DecodedUrl=@a1)/RenderListDataAsStream?@a1=%27',encodeUriComponent(variables('SharePointEntryPoint')),encodeUriComponent('/Shared Documents'),'%27&RootFolder=',encodeUriComponent(variables('SharePointEntryPoint')), encodeUriComponent(triggerBody()?['MessageText']))}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointUrl')))}/httprequest"
                            }
                        },
                        "Send_an_HTTP_request_to_SharePoint_2": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "method": "GET",
                                    "uri": "_api/Web/SiteGroups"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharePointUrl')))}/httprequest"
                            }
                        },
                        "Set_Current_ListName": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@replace(replace(body('Parse_JSON')?['listName'],'{',''),'}','')"
                        },
                        "SharepointGroups": {
                            "runAfter": {
                                "Groups_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Groups_JSON')?['d']?['results']",
                                "select": {
                                    "ID": "@item()?['Id']",
                                    "LoginName": "@item()?['LoginName']",
                                    "PrincipleType": "@item()?['PrincipalType']"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurequeues": {
                                "connectionId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name, '/providers/Microsoft.Web/connections/',parameters('connections_azurequeues_name'))]",
                                "connectionName": "[parameters('connections_azurequeues_name')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "identity": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.ManagedIdentity/userAssignedIdentities/',parameters('userAssignedIdentities_sharepoint2blob_mi_name'))]",
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/',parameters('connections_azurequeues_name'))]"
                            },
                            "sharepointonline": {
                                "connectionId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name, '/providers/Microsoft.Web/connections/',parameters('connections_sharepointonline_name'))]",
                                "connectionName": "[parameters('connections_sharepointonline_name')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',variables('location'),'/managedApis/',parameters('connections_sharepointonline_name'))]"
                            }
                        }
                    },
                    "SharePointUrl": {
                                "value": "[parameters('SharePointUrl')]"
                    },
                    "storageAccountName": {
                        "value": "[parameters('storageAccounts_armblobqueue_name')]"
                    }
                }
            }
        }
    ]
}